<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title>tutorial</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body class="tutorial">

<header>
<!--    nav    -->
    <ul class="navbar">
        <li><a href="/" class="homeLink">home</a></li>
        <li><a href="/about" class="aboutLink">about</a></li>
        <li><a href="/contact" class="contactLink">contact</a></li>
        <li class="tutorialLink">tutorial</li>
        <!--sign in-->
        <%    if(username && authenticated){    %>
        <li class="loginLink"><a href="/users/signout">sign out</a></li>
        <li class="name">Welcome! <%= username %></li>
        <li class="addLink"><a href="/users/add_article">add article</a></li>
        <!--sign out-->
        <%    }else{    %>
        <li class="loginLink"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
<!--    nav end    -->
</header>

<!--left nav-->
<div class="contentWrapper">

    <div class="left_nav">
        <ul class="left_bar">
            <li style="margin-bottom:3px; font-weight: bold; font-style:italic;">HTML &amp CSS</li>
<!--error!!!    blogs.find({Classification:"HTML"},function(err,blog){    -->
<!--無法直接由mongodb篩選certification，故在html透過if迴圈做選擇-->
            <%    blogs.forEach(function(blog){if(blog.Classification=="HTML"){    %>
                <li style="margin-bottom:3px; padding-left: 25px"><a href="/tutorial/<%= blog.id %>" style="text-decoration:none; color:white"><%= blog.Topic %></a></li><%    }})    %>
            <li style="margin-bottom:3px">javascript</li>
            <%    blogs.forEach(function(blog){    %>
            <%    if(blog.Classification=="Javascript"){    %>
                    <li style="margin-bottom:3px; padding-left: 25px"><a href="/tutorial/<%= blog.id %>" style="text-decoration:none; color:white"><%= blog.Topic %></a></li><%    }})    %>
            <li style="margin-bottom:3px">node.js</li>

            <%    blogs.forEach(function(blog){    %>
            <%    if(blog.Classification=="Node"){    %>
                    <li style="margin-bottom:3px; padding-left: 25px"><a href="/tutorial/<%= blog.id %>" style="text-decoration:none; color:white"><%= blog.Topic %></a></li>
            <%    }    %>
            <%    })    %>


            <li style="margin-bottom:3px">Linux</li>
            <%    blogs.forEach(function(blog){    %>
            <%    if(blog.Classification=="Linux"){    %>
                    <li style="margin-bottom:3px; padding-left: 25px"><a href="/tutorial/<%= blog.id %>" style="text-decoration:none; color:white"><%= blog.Topic %></a></li>
            <%    }    %>
            <%    })    %>

            <li style="margin-bottom:3px">Database</li>
            <%    blogs.forEach(function(blog){    %>
            <%    if(blog.Classification=="Database"){    %>
                    <li style="margin-bottom:3px; padding-left: 25px"><a href="/tutorial/<%= blog.id %>" style="text-decoration:none; color:white;"><%= blog.Topic %></a></li>
            <%    }    %>
            <%    })    %>
        </ul>
    </div>
<!--    left nav end    -->
<!--    main article    -->
    <div class="main">
<!--main article-->
    <!--sign in-->
</div>
    <br><br><br>
</div>


<footer>
    <p>Copyright © 2016 Lionel</p>
    <a href="http://google.com"><img src="../images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" ></a>
    <a href="http://google.com"><img src="/images/LinkedIn_logo/linkedin_logo_package/LinkedIn%20%5Bin%5D/Screen/White/In-White-34px-R.png" ></a>    
</footer>

</body>
</html>