<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title><%= blog1[0].Topic %></title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="../stylesheets/style.css">
</head>

<body class="tutorial">

<header>
<!--    nav    -->
    <ul class="navbar">
        <li><a href="/" class="homeLink">home</a></li>
        <li><a href="/about" class="aboutLink">about</a></li>
        <li><a href="/contact" class="contactLink">contact</a></li>
        <li class="tutorialLink">tutorial</li>
        <li class="more"><img src="../images/icon/down.svg" ></li>
        <!--sign in-->
        <%    if(username && authenticated){    %>
        <li class="loginLink"><a href="/users/signout">sign out</a></li>
        <li class="name">Welcome! <%= username %></li>
        <li class="addLink"><a href="/users/add_article">add article</a></li>
        <!--sign out-->
        <%    }else{    %>
        <li class="loginLink"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
    <ul class="drop_down slide_nav">
        <%    if(username && authenticated){    %>
            <li class="more_nav"><a href="/users/signout">sign out</a></li>
            <li class="more_nav"><a href="/users/add_article">add article</a></li>
            <!--sign out-->
        <%    }else{    %>
            <li class="more_nav"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
<script>
var more_btn = document.getElementsByClassName("more")[0];
var drop_down = document.getElementsByClassName("drop_down")[0];
slide(more_btn, drop_down);
function slide(btn, drop_down){
    btn.onclick = function(){
        drop_down.classList.toggle("slide_nav");
    }
}
</script>    
<!--    nav end    -->
</header>



<!--left nav-->
<div class="contentWrapper">

    <div class="slide_btn">Left nav</div>
    <div class="left_nav">
        <ul class="left_bar">
                <% for(i in BlogDistinct){ %>
                    <div class="reveal"><li class="handle"><%= BlogDistinct[i] %></li>
                        <% all.sort(function(a,b){return b.CreateDate-a.CreateDate}) %>
                        <ul><% all.forEach(function(bb){ 
                                        if(bb.Classification==BlogDistinct[i]){  %>
                                    <li><a href="/tutorial/<%= bb.id %>"><%= bb.Topic %></a></li>
                            <% }}); %>
                        </ul>
                    </div>
                <% }; %>
        </ul>
    </div>

<script>
    var btn = document.getElementsByClassName("slide_btn")[0];
    var left_nav = document.getElementsByClassName("left_nav")[0];
    change_class(btn,left_nav);
    function change_class(btn,left_nav){
        btn.onclick = function(){
            btn.classList.toggle("in");
            left_nav.classList.toggle("in");
        }
    }
</script>
<script>
window.onload = function(){
    var elements = document.getElementsByClassName("reveal");
    for(var i=0;i<elements.length;i++){
        var elt = elements[i];
        var title = elt.getElementsByClassName('handle')[0];
        addRevealHandler(title,elt);
    }
    function addRevealHandler(title,elt){
        title.onclick = function(){
            if(elt.className == "reveal") elt.className = "revealed";
            else if (elt.className == "revealed") elt.className = "reveal";
        }
    }
};
</script>

<!--    left nav end    -->
<!--    main article    -->
    <div class="main">
<!--main article-->
    <!--sign in-->
    <% if(username && authenticated){    %>
        <p style="float: right"><a href="/users/modify/<%= blog1[0].id %>" style="text-decoration:none">編輯</a>/<a href="/apis/delete/<%= blog1[0].id %>">刪除</a>此篇文章</p>    <!--modify article-->
    <%    }else{    %>
    <!--sign out-->
    <%    }    %>
    <br><br><br>


    <!--    article    -->
    <h1><%= blog1[0].Topic %></h1>
    <div style="text-align: left;"><%- blog1[0].Article %></div>   <!--    use <pre>???    -->
    <p style="text-align:right"><%= blog1[0].CreateDate.toLocaleDateString("zh-CN") %> <%= blog1[0].CreateDate.toLocaleTimeString("mong",{hour: '2-digit', minute:'2-digit'}) %></p>
    </div>
    <!--main end-->
</div>

<footer>
    <p>Copyright © 2017 Lionel</p>
        <a href="https://github.com/Lionel223"><img src="../images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" ></a>

</footer>

</body>
</html>
