<!DOCTYPE html>
<html>
<head>
    <!--[if it IE9]>
    <script src=”//html5shiv.googlecode.com/svn/trunk/html5.js”></script>
    <![endif]-->
    <title>Lionel's blog</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="../stylesheets/style.css">

</head>

<body class="home">

<header>
<!--    nav    -->
    <ul class="navbar">
        <li class="homeLink">home</li>
        <li><a href="/about" class="aboutLink">about</a></li>
        <li><a href="/contact" class="contactLink">contact</a></li>
        <li><a href="/tutorial" class="tutorialLink">tutorial</a></li>
        <!--sign in-->
        <%    if(username && authenticated){    %>
        <li class="loginLink"><a href="/users/signout">sign out</a></li>
        <li class="name">Welcome! <%= username %></li>
        <li class="addLink"><a href="/users/add_article">add article</a></li>
        <!--sign out-->
        <%    }else{    %>
        <li class="loginLink"><a href="/users/signin">sign in</a></li>
        <%    }    %>
    </ul>
<!--    nav end    -->
<!--    topic    -->
    <div class="head_description">
        <h1><a href="/">Lionel's blog</a></h1>
    </div>
<!--    topic end    -->
</header>

    <% blogs.sort(function(a,b){return b.CreateDate-a.CreateDate}) %>
    <%  blogs.forEach(function(blogs){  %>
    <div class="main_article">
        <h3><%= blogs.Topic %><span>
        <%= blogs.CreateDate.toLocaleDateString("zh-CN",{hour: '2-digit', minute:'2-digit'}) %> 
        </span></h3>
        <div class="article"><%- blogs.Article %></div>
        <div class="classification"><%= blogs.Classification %></div>
        <a href="/tutorial/<%= blogs.id %>">Read More</a>
    </div>
    <%  })  %>
<br><br>
<script>
function partial_article(){
    var article = document.getElementsByClassName("article");
    for(i=0;i<article.length;i++){
        article[i].textContent = article[i].textContent.substring(0,300)+"...";
    }
};
window.onload = function(){
    partial_article();
}
</script>

<footer>
    <p>Copyright © 2017 Lionel</p>
    <a href="http://google.com"><img src="../images/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" ></a>
    <a href="http://google.com"><img src="../images/LinkedIn_logo/linkedin_logo_package/LinkedIn%20%5Bin%5D/Screen/White/In-White-34px-R.png" ></a>
</footer>

</body>
</html>